.popup
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 9999
    background-color: rgba($color-black, .85)
    display: flex
    justify-content: center
    align-items: center
    &__content
        width: 75%
        background-color: $color-white
        border-radius: 3px
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
    &__left
        width: 33%
    &__img
        display: block
        width: 100%
    &__right
        width: 67%
        padding: 3rem 5rem
    &__text
        font-size: 1.4rem
        margin-bottom: 4rem
        column-count: 2
        column-gap: 4rem
        column-rule: 1px solid $color-light-gray-2
        hyphens: auto
        text-align: justify